.wp-block-embed-wordpress {
  blockquote {
    font-size: $font-size-sm;
    line-height: 1.6rem;

    @include x-large-and-up {
      font-size: $font-size-md;
      line-height: 1.75rem;
    }
  }
}
