@charset "UTF-8";
/* #################### */
/* _valiables.scss */
/* 修正時は_valiables.scssを修正してコンパイルしてください */
/* #################### */

$breakpoints: (
    //XS,11,PRO MAX（デザイン上は1100pxでPCを想定。なのでそれ以下ということ）
  'sp': 'screen and (max-width: 768px)',
    //main_wのmax-widthを1100px＋左右のpaddingを40pxとしているので、1100px以下ということ
  'pad': 'screen and (max-width: 1140px)',
) !default;

@mixin mq($breakpoint: pad) {
    @media #{map-get($breakpoints, $breakpoint)}{
        @content;
	}
}
//
// ウィンドウサイズ、ブレイクポイント設定　iPhone XS Max、iPad Proを考慮して、padのbreakpointを896に設定
//基本的に、SPでレイアウト変更。

// ベースフォントサイズ設定
// ベースフォントサイズ設定
// $base_font_size:14px;
$base_font_size:15px;
//1.1rem > 16.6px
//1.2rem > 18px 
//1.3rem > 19.5px
//1.4rem > 21px
//1.5rem > 22.5px
//1.6rem > 24px
//1.7rem > 25.5px
//1.8rem > 27px
//1.9rem > 28.5px
//2rem > 30px
//2.1rem > 31.5px
//2.2rem > 33px
//2.3rem > 34.5px
//2.4rem > 36px
$sp_font_size:14px;
//
// ボタン押下時などのopacity
$opa:0.8;
//
//フォントfont
.mincho{
    /* 游明朝体メイン */
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
//コンテンツ幅
.main_w{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 0;
    @include mq(pad) {
      width: calc(100vw - 40px);
  }
    @include mq(sp) {
        width: calc(100vw - 40px);
    }
}
.wide_w{
  max-width: 1315px;
  width: 100%;
  margin: 0 auto 0;
  @include mq(pad) {
    width: calc(100vw - 40px);
}
  @include mq(sp) {
      width: calc(100vw - 40px);
  }
}
.full_w{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto 0;
  @include mq(pad) {
    max-width: 100%;
  }
  @include mq(sp) {
    max-width: 100%;
  }
}

// color
$color-dark1: rgba(0,0,0,0.87);
$color-dark2: rgba(0,0,0,0.54);
$color-dark3: rgba(0,0,0,0.26);
$color-dark4: rgba(0,0,0,0.12);
$color-dark5: rgba(0,0,0,0.07);
$color-dark6: rgba(0,0,0,0.03);
$color-light1: rgba(255,255,255,1.00);
$color-light2: rgba(255,255,255,0.70);
$color-light3: rgba(255,255,255,0.30);
$color-light4: rgba(255,255,255,0.12);
//
$color-bg:#fff;
$color-text:#000;

$color-border:#dadada;
$color-link:#1660d0;
$color-graybg:#f0f0f0;
//
$color-primary:#EB5C32;
$color-secondary:#395B99;
$color-accent:#d75e96;

.ofi {
  -o-object-fit: cover;
  object-fit: cover; /* 他のブラウザ用(＝通常の指定) */
  -o-object-position: 50% 50%;
  object-position: 50% 50%; /* 他のブラウザ用(＝通常の指定) */
  font-family: 'object-fit: cover; object-position: 50% 50%;' /* IE・Edge対応 */
}