@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/NotoSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSans-Bold.woff') format('woff');
  font-display: swap;
}

$font-base-size: 16px;

$font-size-xxs: 0.875rem;
$font-size-xs: 0.9375rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.375rem;
$font-size-xl: 1.75rem;
$font-size-xxl: 2.5rem;
$font-size-xxxl: 3rem;
$font-size-xxxxl: 4rem;

:root {
  --font-family-primary: NotoSans, sans-serif;
  --font-family-secondary: NotoSans, serif;
  --font-family-tertiary: NotoSans, serif;
  --nav-item--font-weight: var(--font-weight-bold);
  --nav-donate--font-weight: var(--font-weight-bold);
  --button--font-weight: var(--font-weight-bold);
  --columns-block--a--not--btn--font-weight: var(--font-weight-bold);
  --cover-card-heading--font-weight: var(--font-weight-bold);
  --top-page-tags--tag-item--font-weight: var(--font-weight-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}
