@charset "UTF-8";
/* #################### */
/* _valiables.scss */
/* 修正時は_valiables.scssを修正してコンパイルしてください */
/* #################### */
.mincho {
  /* 游明朝体メイン */
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.main_w, #toohot .topic_wrap, #causing .topic_wrap, #about .topic_wrap, #need .topic_wrap, #realization .topic_wrap, #sixaction .topic_wrap, #blog_link .topic_wrap {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto 0;
}
@media screen and (max-width: 1140px) {
  .main_w, #toohot .topic_wrap, #causing .topic_wrap, #about .topic_wrap, #need .topic_wrap, #realization .topic_wrap, #sixaction .topic_wrap, #blog_link .topic_wrap {
    width: calc(100vw - 40px);
  }
}
@media screen and (max-width: 768px) {
  .main_w, #toohot .topic_wrap, #causing .topic_wrap, #about .topic_wrap, #need .topic_wrap, #realization .topic_wrap, #sixaction .topic_wrap, #blog_link .topic_wrap {
    width: calc(100vw - 40px);
  }
}

.wide_w {
  max-width: 1315px;
  width: 100%;
  margin: 0 auto 0;
}
@media screen and (max-width: 1140px) {
  .wide_w {
    width: calc(100vw - 40px);
  }
}
@media screen and (max-width: 768px) {
  .wide_w {
    width: calc(100vw - 40px);
  }
}

.full_w {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto 0;
}
@media screen and (max-width: 1140px) {
  .full_w {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .full_w {
    max-width: 100%;
  }
}

/*####################*/
/*汎用部品*/
/*####################*/
.ofi {
  -o-object-fit: cover;
  object-fit: cover; /* 他のブラウザ用(＝通常の指定) */
  -o-object-position: 50% 50%;
  object-position: 50% 50%; /* 他のブラウザ用(＝通常の指定) */
  font-family: "object-fit: cover; object-position: 50% 50%;";
}

.nosp {
  display: block;
}
@media screen and (max-width: 768px) {
  .nosp {
    display: none;
  }
}

.nopc {
  display: none;
}
@media screen and (max-width: 768px) {
  .nopc {
    display: block;
  }
}

/* CSS Document */
/* ver.1.022 20240206*/
/*TO ABOID GIT CONFLICT*/
.ver_for_git {
  opacity: 0.3;
}

.dummy_parts {
  width: 100vw;
  height: auto;
}

.dummuy_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 51px;
  background-color: #fff;
  z-index: 9999;
  text-align: center;
}
.dummuy_header img {
  width: 1200px;
  height: 51px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .dummuy_header img {
    width: 282px;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .dummuy_header {
    height: 50px;
  }
}

.dummuy_padding {
  height: 51px;
}
@media screen and (max-width: 768px) {
  .dummuy_padding {
    height: 50px;
  }
}

/*####################*/
/*common parts*/
/*####################*/
h2.cir_orange {
  position: relative;
  display: block;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 0 0 100px;
  font-size: 2.3rem;
  line-height: 1.2;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  h2.cir_orange {
    padding: 0 0 0 60px;
    font-size: 1.3rem;
  }
}
h2.cir_orange::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 86px;
  height: 86px;
}
@media screen and (max-width: 768px) {
  h2.cir_orange::before {
    width: 54px;
    height: 54px;
  }
}
h2.cir_orange.num_01 {
  color: #fff;
}
h2.cir_orange.num_01::before {
  background: url(../../images/climate_num_cir_orange_01.svg) no-repeat;
  background-size: contain;
}
h2.cir_orange.num_02 {
  margin: 0 auto 40px;
  color: #E96D00;
}
h2.cir_orange.num_02::before {
  background: url(../../images/climate_num_cir_orange_02.svg) no-repeat;
  background-size: contain;
}
h2.cir_orange.num_03 {
  margin: 0 auto 40px;
  color: #E96D00;
}
h2.cir_orange.num_03::before {
  background: url(../../images/climate_num_cir_orange_03.svg) no-repeat;
  background-size: contain;
}
h2.cir_orange.num_04 {
  margin: 0 auto 40px;
  color: #E96D00;
}
h2.cir_orange.num_04::before {
  background: url(../../images/climate_num_cir_orange_04.svg) no-repeat;
  background-size: contain;
}
h2.cir_orange.num_05 {
  margin: 0 auto 40px;
  color: #E96D00;
}
h2.cir_orange.num_05::before {
  background: url(../../images/climate_num_cir_orange_05.svg) no-repeat;
  background-size: contain;
}
h2.cir_orange.num_06 {
  margin: 0 auto 40px;
  color: #E96D00;
}
h2.cir_orange.num_06::before {
  background: url(../../images/climate_num_cir_orange_06.svg) no-repeat;
  background-size: contain;
}

/*####################*/
/*top_banner*/
/*####################*/
#top_banner {
  position: relative;
  margin: 0 auto;
  padding: 0;
  background: url(../../images/climate_bg_topslider.jpg) bottom no-repeat #E5E8EC;
}
@media screen and (max-width: 768px) {
  #top_banner {
    margin: 60px auto 0;
  }
}
#top_banner figure {
  position: relative;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin: 0;
}
#top_banner figure .slider {
  position: relative;
  width: 100vw;
  height: auto;
  margin-inline: auto;
  overflow: hidden; /* 画像がはみ出ないようにする */
}
@media screen and (max-width: 768px) {
  #top_banner figure .slider {
    width: 100vw;
    height: 154vw;
  }
}
#top_banner figure .slider picture {
  width: 100vw;
  height: 54.4vw;
  margin-inline: auto;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #top_banner figure .slider picture {
    width: auto;
    height: 154vw;
  }
}
#top_banner figure .slider picture .slide_img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #top_banner figure .slider picture .slide_img {
    width: auto;
    height: 154vw;
  }
}
#top_banner figure .slider .copyright {
  font-size: 0.8rem;
  color: #fff;
  line-height: 1;
  position: absolute;
  bottom: 10px;
  left: 20px;
  padding: 3px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  #top_banner figure .slider .copyright {
    font-size: 0.7rem;
  }
}
@-webkit-keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15); /* 拡大率 */
  }
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15); /* 拡大率 */
  }
}
#top_banner figure .add-animation picture .slide_img {
  -webkit-animation: zoomUp 10s linear 0s normal both;
          animation: zoomUp 10s linear 0s normal both;
}
#top_banner figure .title_wrap {
  position: absolute;
  max-width: 1280px;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  #top_banner figure .title_wrap {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0;
  }
}
#top_banner figure .title_wrap h1 {
  margin: 0 0 60px 0;
  width: 690px;
}
@media screen and (max-width: 768px) {
  #top_banner figure .title_wrap h1 {
    width: 72vw;
    margin: 0 auto 80px;
    transform: translateX(2vw);
  }
}
#top_banner figure .title_wrap h1 img {
  width: 100%;
}
#top_banner figure .title_wrap .lead {
  margin: 0 0 30px 8px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #top_banner figure .title_wrap .lead {
    font-size: max(3.5vw, 1.2rem);
    margin: 0 10px 30px;
  }
}
#top_banner figure .title_wrap a.cta_btn {
  display: inline-block;
  font-size: 1.68rem;
  font-weight: bold;
  color: #000;
  background-color: #FFE200;
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  #top_banner figure .title_wrap a.cta_btn {
    font-size: 1.2rem;
    padding: 10px 5vw;
    border-radius: 6px;
  }
}
#top_banner figure .title_wrap a.cta_btn:hover {
  text-decoration: none;
}
#top_banner .scroll_up_btn {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100px;
  margin: 0 auto;
  transform: translateY(50%);
  text-align: center;
  cursor: pointer;
}
#top_banner .scroll_up_btn img.cir_btn {
  cursor: pointer;
}

/*####################*/
/*index*/
/*####################*/
#index {
  position: relative;
  margin: 0 auto;
  padding: 70px 0 60px;
}
@media screen and (max-width: 768px) {
  #index {
    padding: 50px 0 20px;
  }
}
#index .scroll_up_btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  width: 100px;
  margin: 0 auto;
  transform: translateY(-50%);
  text-align: center;
  cursor: pointer;
}
#index .scroll_up_btn img.cir_btn {
  cursor: pointer;
}
#index .index_list_wrap {
  background-color: #FFF2CB;
  max-width: 790px;
  margin: 0 auto;
  padding: 30px 60px 50px;
}
@media screen and (max-width: 768px) {
  #index .index_list_wrap {
    padding: 20px 20px 30px;
  }
}
#index .index_list_wrap h2 {
  font-size: 18px;
  margin: 0 0 32px;
}
@media screen and (max-width: 768px) {
  #index .index_list_wrap h2 {
    text-align: center;
    font-size: 16px;
    margin: 0 0 24px;
  }
}
#index .index_list_wrap ul.index_list {
  list-style-type: none;
}
#index .index_list_wrap ul.index_list li {
  margin: 0 0 30px;
  padding: 0 0 0 50px;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  #index .index_list_wrap ul.index_list li {
    margin: 0 0 20px;
    padding: 0 0 0 40px;
    font-size: 15px;
  }
}
#index .index_list_wrap ul.index_list li:nth-child(1) {
  background: url(../../images/climate_num_cir_orange_01.svg) no-repeat 0 50%;
  background-size: 35px;
}
@media screen and (max-width: 768px) {
  #index .index_list_wrap ul.index_list li:nth-child(1) {
    background-size: 30px;
  }
}
#index .index_list_wrap ul.index_list li:nth-child(2) {
  background: url(../../images/climate_num_cir_orange_02.svg) no-repeat 0 50%;
  background-size: 35px;
}
@media screen and (max-width: 768px) {
  #index .index_list_wrap ul.index_list li:nth-child(2) {
    background-size: 30px;
  }
}
#index .index_list_wrap ul.index_list li:nth-child(3) {
  background: url(../../images/climate_num_cir_orange_03.svg) no-repeat 0 50%;
  background-size: 35px;
}
@media screen and (max-width: 768px) {
  #index .index_list_wrap ul.index_list li:nth-child(3) {
    background-size: 30px;
  }
}
#index .index_list_wrap ul.index_list li:nth-child(4) {
  background: url(../../images/climate_num_cir_orange_04.svg) no-repeat 0 50%;
  background-size: 35px;
}
@media screen and (max-width: 768px) {
  #index .index_list_wrap ul.index_list li:nth-child(4) {
    background-size: 30px;
  }
}
#index .index_list_wrap ul.index_list li:nth-child(5) {
  background: url(../../images/climate_num_cir_orange_05.svg) no-repeat 0 50%;
  background-size: 35px;
}
@media screen and (max-width: 768px) {
  #index .index_list_wrap ul.index_list li:nth-child(5) {
    background-size: 30px;
  }
}
#index .index_list_wrap ul.index_list li:nth-child(6) {
  background: url(../../images/climate_num_cir_orange_06.svg) no-repeat 0 50%;
  background-size: 35px;
}
@media screen and (max-width: 768px) {
  #index .index_list_wrap ul.index_list li:nth-child(6) {
    background-size: 30px;
  }
}
#index .index_list_wrap ul.index_list li a {
  color: #000;
  text-decoration: none;
}
#index .index_list_wrap ul.index_list li a:hover {
  text-decoration: underline;
}

/*####################*/
/*01 「暑すぎる、寒すぎる」日本の学校 #toohot*/
/*####################*/
#toohot {
  position: relative;
  background: url(../../images/insulation_bg_toohot.jpg) top center no-repeat;
  background-size: cover;
  padding: 90px 0 0;
}
@media screen and (max-width: 768px) {
  #toohot {
    background: url(../../images/insulation_bg_toohot_sp.jpg) top center no-repeat;
    background-size: cover;
    padding: 25px 0 0;
  }
}
#toohot .topic_wrap {
  font-size: 1.2rem;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  #toohot .topic_wrap {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
}
#toohot .topic_wrap h2 {
  margin-bottom: 1em;
}
#toohot .topic_wrap .thrmo_img {
  background-color: #fff;
  max-width: 792px;
  width: auto;
  margin: 0 auto 30px;
  padding: 30px 30px 20px;
}
@media screen and (max-width: 768px) {
  #toohot .topic_wrap .thrmo_img {
    margin: 0 auto 20px;
    padding: 15px 15px 20px;
  }
}
#toohot .topic_wrap .thrmo_img img {
  width: 100%;
}
#toohot .topic_wrap .thrmo_img .caption {
  text-align: center;
  font-size: 14px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  #toohot .topic_wrap .thrmo_img .caption {
    text-align: left;
    font-size: 12px;
  }
}
#toohot .topic_wrap .honbun {
  max-width: 792px;
  width: auto;
  margin: 0 auto;
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #toohot .topic_wrap .honbun {
    font-size: 16px;
  }
}

/*####################*/
/*02 原因は温暖化と「断熱」がされていないこと causing*/
/*####################*/
#causing {
  margin: 0;
  padding: 120px 0 20px;
}
@media screen and (max-width: 768px) {
  #causing {
    padding: 35px 0 0;
  }
}
#causing .topic_wrap {
  font-size: 1.2rem;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
}
#causing .topic_wrap h2 {
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap h2 {
    margin-bottom: 35px;
  }
}
#causing .topic_wrap .cont_wrap {
  max-width: 792px;
  width: auto;
  margin: 0 auto;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap .cont_wrap {
    font-size: 16px;
  }
}
#causing .topic_wrap .cont_wrap .honbun {
  margin-bottom: 1em;
}
#causing .topic_wrap .img_wrap {
  margin: 0 auto 1em;
}
#causing .topic_wrap .img_wrap.wide {
  margin: 2em auto 2em;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap .img_wrap.wide {
    margin: 1em auto 1em;
  }
}
#causing .topic_wrap .img_wrap.morewide {
  margin: 60px auto 60px;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap .img_wrap.morewide {
    margin: 2em auto 2em;
  }
}
#causing .topic_wrap .img_wrap img {
  display: block;
  width: 100%;
  margin: 0 auto 0.5em;
}
#causing .topic_wrap .img_wrap .caption {
  font-size: 14px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap .img_wrap .caption {
    font-size: 12px;
  }
}
#causing .topic_wrap .koe_wrap {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  align-items: center;
  grid-template-areas: "a b" "c c";
  width: 100%;
  margin: 2em auto;
  padding: 30px 25px 25px;
  background-color: #FFE8B5;
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap .koe_wrap {
    grid-template-columns: 68px 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 5vw;
    grid-row-gap: 10px;
    grid-template-areas: "a a" "b c";
    margin: 2em auto 0;
    padding: 20px 20px 0;
  }
}
#causing .topic_wrap .koe_wrap .fukidashi {
  grid-area: b;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  min-width: 120px;
  max-width: 100%;
  font-size: 16px;
  background: #fff;
}
#causing .topic_wrap .koe_wrap .fukidashi:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 10px solid transparent;
  border-right: 20px solid #fff;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap .koe_wrap .fukidashi {
    grid-area: a;
    padding: 15px 20px;
  }
  #causing .topic_wrap .koe_wrap .fukidashi:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 110px;
    margin-top: 0px;
    margin-left: -15px;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    border-top: 10px solid #fff;
  }
}
#causing .topic_wrap .koe_wrap img.koe_img {
  grid-area: a;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap .koe_wrap img.koe_img {
    grid-area: b;
    width: 70px;
  }
}
#causing .topic_wrap .koe_wrap .name {
  grid-area: c;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: #292929;
}
@media screen and (max-width: 768px) {
  #causing .topic_wrap .koe_wrap .name {
    grid-area: c;
    font-size: 15px;
  }
}

/*####################*/
/*03　断熱とは：断熱にはメリットがいっぱい
about*/
/*####################*/
#about {
  font-size: 1.2rem;
  margin: 0;
  padding: 30px 0 40px;
}
@media screen and (max-width: 768px) {
  #about {
    padding: 35px 0 0;
  }
}
#about .topic_wrap {
  font-size: 1.2rem;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  #about .topic_wrap {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
}
#about .topic_wrap h2 {
  margin-bottom: 1em;
}
#about .topic_wrap .cont_wrap {
  max-width: 792px;
  width: auto;
  margin: 0 auto;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #about .topic_wrap .cont_wrap {
    font-size: 16px;
  }
}
#about .topic_wrap .cont_wrap .honbun {
  margin-bottom: 1em;
}
#about .topic_wrap .cont_wrap .honbun .subtxt {
  font-size: 15px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  #about .topic_wrap .cont_wrap .honbun .subtxt {
    font-size: 13px;
  }
}
#about .topic_wrap .cont_wrap .img_wrap {
  margin: 0 auto 1em;
}
#about .topic_wrap .cont_wrap .img_wrap.wide {
  margin: 2em auto 2em;
}
@media screen and (max-width: 768px) {
  #about .topic_wrap .cont_wrap .img_wrap.wide {
    margin: 1em auto 1em;
  }
}
#about .topic_wrap .cont_wrap .img_wrap.morewide {
  margin: 60px auto 60px;
}
@media screen and (max-width: 768px) {
  #about .topic_wrap .cont_wrap .img_wrap.morewide {
    margin: 2em auto 2em;
  }
}
#about .topic_wrap .cont_wrap .img_wrap img {
  display: block;
  width: 100%;
  margin: 0 auto 0.5em;
}
#about .topic_wrap .cont_wrap .img_wrap .caption {
  font-size: 14px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  #about .topic_wrap .cont_wrap .img_wrap .caption {
    font-size: 12px;
  }
}

/*####################*/
/*04 学校断熱に必要なこと need*/
/*####################*/
#need {
  font-size: 1.2rem;
  margin: 0;
  padding: 30px 0 40px;
}
@media screen and (max-width: 768px) {
  #need {
    padding: 35px 0 0;
  }
}
#need .topic_wrap {
  font-size: 1.2rem;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  #need .topic_wrap {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
}
#need .topic_wrap h2 {
  margin-bottom: 1em;
}
#need .topic_wrap .cont_wrap {
  max-width: 792px;
  width: auto;
  margin: 0 auto;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #need .topic_wrap .cont_wrap {
    font-size: 16px;
  }
}
#need .topic_wrap .cont_wrap .honbun {
  margin-bottom: 1em;
}
#need .topic_wrap .cont_wrap .honbun .subtxt {
  font-size: 15px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  #need .topic_wrap .cont_wrap .honbun .subtxt {
    font-size: 13px;
  }
}
#need .topic_wrap .cont_wrap .img_wrap {
  margin: 0 auto 1em;
}
#need .topic_wrap .cont_wrap .img_wrap.wide {
  margin: 2em auto 2em;
}
@media screen and (max-width: 768px) {
  #need .topic_wrap .cont_wrap .img_wrap.wide {
    margin: 1em auto 1em;
  }
}
#need .topic_wrap .cont_wrap .img_wrap.morewide {
  margin: 60px auto 60px;
}
@media screen and (max-width: 768px) {
  #need .topic_wrap .cont_wrap .img_wrap.morewide {
    margin: 2em auto 2em;
  }
}
#need .topic_wrap .cont_wrap .img_wrap img {
  display: block;
  width: 100%;
  margin: 0 auto 0.5em;
}
#need .topic_wrap .cont_wrap .img_wrap .caption {
  font-size: 14px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  #need .topic_wrap .cont_wrap .img_wrap .caption {
    font-size: 12px;
  }
}

/*####################*/
/*05 学校の断熱改修を実現するには*/
/*####################*/
#realization {
  font-size: 1.2rem;
  margin: 0;
  padding: 30px 0 40px;
}
@media screen and (max-width: 768px) {
  #realization {
    padding: 35px 0 0;
  }
}
#realization .topic_wrap {
  font-size: 1.2rem;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  #realization .topic_wrap {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
}
#realization .topic_wrap h2 {
  margin-bottom: 1em;
}
#realization .topic_wrap .cont_wrap {
  max-width: 792px;
  width: auto;
  margin: 0 auto;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #realization .topic_wrap .cont_wrap {
    font-size: 16px;
  }
}
#realization .topic_wrap .cont_wrap .honbun {
  margin-bottom: 1em;
}
#realization .topic_wrap .cont_wrap .honbun .subtxt {
  font-size: 15px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  #realization .topic_wrap .cont_wrap .honbun .subtxt {
    font-size: 13px;
  }
}

/*####################*/
/*06私たちに今すぐできる６つのこと　 sixaction*/
/*####################*/
#sixaction {
  font-size: 1.2rem;
  margin: 0;
  padding: 30px 0 0px;
}
@media screen and (max-width: 768px) {
  #sixaction {
    padding: 35px 0 0;
  }
}
#sixaction .topic_wrap {
  font-size: 1.2rem;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
}
#sixaction .topic_wrap h2 {
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap h2 {
    margin-bottom: 35px;
  }
}
#sixaction .topic_wrap .cont_wrap {
  max-width: 792px;
  width: auto;
  margin: 0 auto;
  font-size: 20px;
  /*タブボックス*/
  /*パネルボックス*/
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap {
    font-size: 16px;
  }
}
#sixaction .topic_wrap .cont_wrap #tab_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  align-items: top;
  border-bottom: solid 3px #66CC00;
  margin: 0 auto;
  padding: 0 0 0;
}
#sixaction .topic_wrap .cont_wrap #tab_box .tab {
  margin: 0 auto 10px;
  padding: 0 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #66CC00;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #tab_box .tab {
    font-size: 14px;
  }
}
#sixaction .topic_wrap .cont_wrap #tab_box .tab span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1em;
  line-height: 1em;
  margin: 10px auto;
  padding: 0 0 0 1.4em;
  background: url(../../images/arrow_cir_right.svg) left 50% no-repeat;
  background-size: contain;
}
#sixaction .topic_wrap .cont_wrap #tab_box .tab.active {
  margin: 0 auto 0;
}
#sixaction .topic_wrap .cont_wrap #panel_box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 18px;
  align-items: top;
  grid-template-areas: "a" "b" "c" "d" "e" "f";
  margin: 0 auto;
  padding: 40px 0 0;
  /*######*/
  /*先生*/
  /*######*/
  /*######*/
  /*生徒*/
  /*######*/
  /*######*/
  /*保護者*/
  /*######*/
  /*######*/
  /*誰でも*/
  /*######*/
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box {
    padding: 20px 0 0;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #syomei {
  grid-area: a;
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #syomei .number::before {
  content: "1";
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #koe {
  grid-area: b;
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #koe .number::before {
  content: "2";
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #tsutaeru {
  grid-area: c;
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #tsutaeru .number::before {
  content: "3";
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #diy {
  grid-area: d;
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #diy .number::before {
  content: "4";
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #yosan {
  grid-area: e;
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #yosan .number::before {
  content: "5";
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #teigen {
  grid-area: f;
  border-bottom: none;
}
#sixaction .topic_wrap .cont_wrap #panel_box.teacher #teigen .number::before {
  content: "6";
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #syomei {
  grid-area: a;
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #syomei .number::before {
  content: "1";
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #koe {
  grid-area: b;
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #koe .number::before {
  content: "2";
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #tsutaeru {
  grid-area: f;
  border-bottom: none;
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #tsutaeru .number::before {
  content: "6";
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #diy {
  grid-area: c;
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #diy .number::before {
  content: "3";
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #yosan {
  grid-area: d;
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #yosan .number::before {
  content: "4";
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #teigen {
  grid-area: e;
}
#sixaction .topic_wrap .cont_wrap #panel_box.student #teigen .number::before {
  content: "5";
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #syomei {
  grid-area: a;
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #syomei .number::before {
  content: "1";
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #koe {
  grid-area: b;
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #koe .number::before {
  content: "2";
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #tsutaeru {
  grid-area: e;
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #tsutaeru .number::before {
  content: "5";
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #diy {
  grid-area: f;
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #diy .number::before {
  content: "6";
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #yosan {
  grid-area: c;
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #yosan .number::before {
  content: "3";
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #teigen {
  grid-area: d;
  border-bottom: none;
}
#sixaction .topic_wrap .cont_wrap #panel_box.parent #teigen .number::before {
  content: "4";
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #syomei {
  grid-area: a;
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #syomei .number::before {
  content: "1";
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #koe {
  grid-area: b;
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #koe .number::before {
  content: "2";
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #tsutaeru {
  grid-area: c;
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #tsutaeru .number::before {
  content: "3";
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #diy {
  grid-area: f;
  border-bottom: none;
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #diy .number::before {
  content: "6";
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #yosan {
  grid-area: d;
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #yosan .number::before {
  content: "4";
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #teigen {
  grid-area: e;
}
#sixaction .topic_wrap .cont_wrap #panel_box.everyone #teigen .number::before {
  content: "5";
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel {
  border-bottom: solid 1px #66CC00;
  margin: 0 0 30px;
  padding: 0 0 40px;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel {
    margin: 0 0 15px;
    padding: 0 0 25px;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid {
  display: grid;
  grid-template-columns: 1fr 294px;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "a c" "b c";
  margin: 0 auto 0;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    grid-template-areas: "a" "b" "c";
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .midashi {
  grid-area: a;
  display: grid;
  grid-template-columns: 42px 1fr;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .midashi {
    grid-template-columns: 35px 1fr;
    margin-bottom: 10px;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .midashi .number {
  background-color: #66CC00;
  width: 42px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .midashi .number {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 19px;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .midashi h3 {
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .midashi h3 {
    font-size: 20px;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .actionimg {
  grid-area: c;
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .actionimg img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .actionimg {
    grid-area: b;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .panel_text {
  grid-area: b;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel .panel_grid .panel_text {
    grid-area: c;
    font-size: 16px;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel .btn_box {
  text-align: center;
  padding: 40px 0 0;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel .btn_box {
    padding: 30px 0 0;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel .btn_box a.btn_green {
  background-color: #66CC00;
  color: #292929;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 50px;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel .btn_box a.btn_green {
    font-size: 20px;
    padding: 8px 45px;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel ul.link_box {
  list-style-type: none;
  text-align: left;
  padding: 40px 0 0;
}
@media screen and (max-width: 768px) {
  #sixaction .topic_wrap .cont_wrap #panel_box .panel ul.link_box {
    padding: 30px 0 0;
  }
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel ul.link_box li a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #004B00;
  text-decoration: underline;
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel ul.link_box li a:hover {
  color: #007e00;
}
#sixaction .topic_wrap .cont_wrap #panel_box .panel ul.link_box li a span {
  font-size: 14px;
  font-weight: normal;
}

/*####################*/
/*こちらもご覧ください blog_link*/
/*####################*/
#blog_link {
  max-width: 1200px;
  border-top: solid 1px #66CC00;
  margin: 0 auto 0;
  padding: 40px 0 0;
}
#blog_link h4 {
  text-align: center;
  font-size: 16px;
  margin: 0 0 15px;
}
@media screen and (max-width: 768px) {
  #blog_link h4 {
    font-size: 15px;
    margin: 0 0 5px;
  }
}
#blog_link h3 {
  text-align: center;
  font-size: 27px;
  margin: 0 0 60px;
  color: #66CC00;
}
@media screen and (max-width: 768px) {
  #blog_link h3 {
    font-size: 20px;
    margin: 0 0 30px;
  }
}
#blog_link .topic_wrap {
  font-size: 1.2rem;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  #blog_link .topic_wrap {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
}
#blog_link .topic_wrap .cont_wrap {
  max-width: 792px;
  width: auto;
  margin: 0 auto;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #blog_link .topic_wrap .cont_wrap {
    font-size: 16px;
  }
}
#blog_link .topic_wrap .cont_wrap .blog_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px 25px;
}
@media screen and (max-width: 768px) {
  #blog_link .topic_wrap .cont_wrap .blog_wrap {
    grid-template-columns: 1fr;
    grid-gap: 20px 0px;
  }
}
#blog_link .topic_wrap .cont_wrap .blog_wrap a.link_to_blog {
  display: grid;
  grid-template-columns: 147px 1fr;
  gap: 10px;
  text-decoration: none;
  color: #292929;
}
@media screen and (max-width: 768px) {
  #blog_link .topic_wrap .cont_wrap .blog_wrap a.link_to_blog {
    grid-template-columns: 90px 1fr;
  }
}
#blog_link .topic_wrap .cont_wrap .blog_wrap a.link_to_blog img.blogthumb {
  width: 100%;
  border: solid 1px #999;
}
#blog_link .topic_wrap .cont_wrap .blog_wrap a.link_to_blog .blog_item .blog_title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 10px;
}
@media screen and (max-width: 768px) {
  #blog_link .topic_wrap .cont_wrap .blog_wrap a.link_to_blog .blog_item .blog_title {
    font-size: 15px;
    line-height: 1.4;
    margin: 0 0 5px;
  }
}
#blog_link .topic_wrap .cont_wrap .blog_wrap a.link_to_blog .blog_item .blog_author {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  #blog_link .topic_wrap .cont_wrap .blog_wrap a.link_to_blog .blog_item .blog_author {
    font-size: 13px;
  }
}
#blog_link .topic_wrap .cont_wrap .blog_wrap a.link_to_blog .blog_item .blog_date {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  #blog_link .topic_wrap .cont_wrap .blog_wrap a.link_to_blog .blog_item .blog_date {
    font-size: 13px;
  }
}