{% extends "custom-page.twig" %}

{% block custom_page_header%}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="generator" content="Astro v4.5.5" />
    <link
      rel="icon"
      href="https://www.greenpeace.org/japan/wp-content/themes/planet4-master-theme/favicon.ico"
    />
    <title>グリーンピース・ジャパン 年次報告書 2023年</title>
    <meta name="robots" content="index,follow" />
    <meta
      name="description"
      content="グリーンピースの活動を支えてくださった多くの皆さんに、心より感謝申し上げます。2023年1月から12月までのグリーンピース・ジャパンの活動・成果報告です。"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@GreenpeaceJP" />
    <meta
      property="og:title"
      content="グリーンピース・ジャパン 年次報告書 2023年"
    />
    <meta
      property="og:description"
      content="グリーンピースの活動を支えてくださった多くの皆さんに、心より感謝申し上げます。2023年1月から12月までのグリーンピース・ジャパンの活動・成果報告です。"
    />
    <meta
      property="og:image"
      content="https://www.greenpeace.org/static/planet4-japan-stateless/2024/03/83a8b78e-gp0stwhav.jpg"
    />
    <link
      rel="stylesheet"
      href="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/index.DZX3h1Di.css"
    />
{% endblock%}

{% block custom_page_content %}
    <main>
      <section
        class="gpj-font-sans section-a gpj-relative gpj-aspect-[1/1] sm:gpj-aspect-[3/2] lg:gpj-aspect-[21/9] gpj-bg-section-a"
      >
        <div
          class="gpj-absolute gpj-top-0 gpj-left-0 gpj-h-full gpj-w-full gpj-z-[-1]"
        >
          <img
            src="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STWHAV.iTOhjLmy_Z1taInV.webp"
            srcset="
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STWHAV.iTOhjLmy_ZdLK6m.webp   640w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STWHAV.iTOhjLmy_1J8MpB.webp   800w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STWHAV.iTOhjLmy_UpQnT.webp   1200w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STWHAV.iTOhjLmy_Z23zd8G.webp 1400w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STWHAV.iTOhjLmy_2BQ8E.webp   1600w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STWHAV.iTOhjLmy_Z1taInV.webp 2000w
            "
            alt="グリーンピース・ジャパン,年次報告書 2023年"
            loading="eager"
            class="gpj-object-cover gpj-h-full gpj-w-full gpj-object-center lg:gpj-object-bottom"
            sizes="(max-width: 375px) 640px, (max-width: 640px) 800px, (max-width: 768px) 1200px, (max-width: 1024px) 1400px, (max-width: 1280px) 1600px, (max-width: 1536px) 2000px"
            width="1920"
            height="1280"
            decoding="async"
          />
        </div>
        <div
          class="gpj-bg-black gpj-absolute gpj-top-0 gpj-left-0 gpj-h-full gpj-w-full gpj-opacity-40 gpj-z-[-1]"
        ></div>
        <div class="gpj-container gpj-mx-auto gpj-px-4">
          <h1
            class="gpj-text-white gpj-font-bold gpj-py-12 gpj-text-center sm:gpj-text-left sm:gpj-py-24 gpj-text-2xl md:gpj-text-4xl"
          >
            グリーンピース・ジャパン<br />年次報告書 2023年<!--!$-->
          </h1>
        </div>
      </section>
      <section
        class="gpj-overflow-hidden gpj-bg-gray-100 gpj-font-sans gpj-py-12 section-b gpj-group"
      >
        <div
          class="gpj-flex gpj-container gpj-mx-auto gpj-flex-wrap gpj-px-4 lg:gpj-flex-nowrap"
        >
          <div
            class="gpj-justify-start gpj-flex gpj-relative gpj-flex-col gpj-w-full lg:gpj-w-1/4"
          >
            <div class="section-b-pagination gpj-min-h-[1.5em]"></div>
            <h2 class="gpj-mb-5 gpj-text-3xl gpj-font-bold">
              1年間の活動報告<!--!$-->
            </h2>
            <p class="gpj-mb-5 gpj-text-gray-800 lg:gpj-mb-0">
              2023年1月から12月までのグリーンピース・ジャパンの活動・成果報告。
            </p>
            <p class="gpj-mb-5 gpj-text-gray-800 lg:gpj-mb-0">
              世界的な困難の中でも、みなさんの力強いご支援により、グリーンピースはより良い未来のための活動を続け、多くの成果を上げることができました。
            </p>
          </div>
          <div
            class="gpj-flex gpj-shrink-0 gpj-w-full lg:gpj-w-3/4 lg:gpj-pl-[24px] gpj-flex-nowrap lg:[clip-path:inset(-100vw_-100vw_-100vw_0)]"
          >
            <style>
              astro-island,
              astro-slot,
              astro-static-slot {
                display: contents;
              }
            </style>
            <script>
              (() => {
                var i = t => {
                  let e = async () => {
                    await (
                      await t()
                    )();
                  };
                  'requestIdleCallback' in window
                    ? window.requestIdleCallback(e)
                    : setTimeout(e, 200);
                };
                (self.Astro || (self.Astro = {})).idle = i;
                window.dispatchEvent(new Event('astro:idle'));
              })();
              (() => {
                var v = Object.defineProperty;
                var A = (c, s, a) =>
                  s in c
                    ? v(c, s, {
                        enumerable: !0,
                        configurable: !0,
                        writable: !0,
                        value: a,
                      })
                    : (c[s] = a);
                var d = (c, s, a) => (
                  A(c, typeof s != 'symbol' ? s + '' : s, a), a
                );
                var u;
                {
                  let c = {
                      0: t => m(t),
                      1: t => a(t),
                      2: t => new RegExp(t),
                      3: t => new Date(t),
                      4: t => new Map(a(t)),
                      5: t => new Set(a(t)),
                      6: t => BigInt(t),
                      7: t => new URL(t),
                      8: t => new Uint8Array(t),
                      9: t => new Uint16Array(t),
                      10: t => new Uint32Array(t),
                    },
                    s = t => {
                      let [e, n] = t;
                      return e in c ? c[e](n) : void 0;
                    },
                    a = t => t.map(s),
                    m = t =>
                      typeof t != 'object' || t === null
                        ? t
                        : Object.fromEntries(
                            Object.entries(t).map(([e, n]) => [e, s(n)])
                          );
                  customElements.get('astro-island') ||
                    customElements.define(
                      'astro-island',
                      ((u = class extends HTMLElement {
                        constructor() {
                          super(...arguments);
                          d(this, 'Component');
                          d(this, 'hydrator');
                          d(this, 'hydrate', async () => {
                            var f;
                            if (!this.hydrator || !this.isConnected) return;
                            let e =
                              (f = this.parentElement) == null
                                ? void 0
                                : f.closest('astro-island[ssr]');
                            if (e) {
                              e.addEventListener(
                                'astro:hydrate',
                                this.hydrate,
                                { once: !0 }
                              );
                              return;
                            }
                            let n = this.querySelectorAll('astro-slot'),
                              r = {},
                              l = this.querySelectorAll(
                                'template[data-astro-template]'
                              );
                            for (let o of l) {
                              let i = o.closest(this.tagName);
                              i != null &&
                                i.isSameNode(this) &&
                                ((r[
                                  o.getAttribute('data-astro-template') ||
                                    'default'
                                ] = o.innerHTML),
                                o.remove());
                            }
                            for (let o of n) {
                              let i = o.closest(this.tagName);
                              i != null &&
                                i.isSameNode(this) &&
                                (r[o.getAttribute('name') || 'default'] =
                                  o.innerHTML);
                            }
                            let h;
                            try {
                              h = this.hasAttribute('props')
                                ? m(JSON.parse(this.getAttribute('props')))
                                : {};
                            } catch (o) {
                              let i =
                                  this.getAttribute('component-url') ||
                                  '<unknown>',
                                b = this.getAttribute('component-export');
                              throw (
                                (b && (i += ` (export ${b})`),
                                console.error(
                                  `[hydrate] Error parsing props for component ${i}`,
                                  this.getAttribute('props'),
                                  o
                                ),
                                o)
                              );
                            }
                            let p;
                            await this.hydrator(this)(this.Component, h, r, {
                              client: this.getAttribute('client'),
                            }),
                              this.removeAttribute('ssr'),
                              this.dispatchEvent(
                                new CustomEvent('astro:hydrate')
                              );
                          });
                          d(this, 'unmount', () => {
                            this.isConnected ||
                              this.dispatchEvent(
                                new CustomEvent('astro:unmount')
                              );
                          });
                        }
                        disconnectedCallback() {
                          document.removeEventListener(
                            'astro:after-swap',
                            this.unmount
                          ),
                            document.addEventListener(
                              'astro:after-swap',
                              this.unmount,
                              { once: !0 }
                            );
                        }
                        connectedCallback() {
                          if (
                            !this.hasAttribute('await-children') ||
                            document.readyState === 'interactive' ||
                            document.readyState === 'complete'
                          )
                            this.childrenConnectedCallback();
                          else {
                            let e = () => {
                                document.removeEventListener(
                                  'DOMContentLoaded',
                                  e
                                ),
                                  n.disconnect(),
                                  this.childrenConnectedCallback();
                              },
                              n = new MutationObserver(() => {
                                var r;
                                ((r = this.lastChild) == null
                                  ? void 0
                                  : r.nodeType) === Node.COMMENT_NODE &&
                                  this.lastChild.nodeValue === 'astro:end' &&
                                  (this.lastChild.remove(), e());
                              });
                            n.observe(this, { childList: !0 }),
                              document.addEventListener('DOMContentLoaded', e);
                          }
                        }
                        async childrenConnectedCallback() {
                          let e = this.getAttribute('before-hydration-url');
                          e && (await import(e)), this.start();
                        }
                        async start() {
                          let e = JSON.parse(this.getAttribute('opts')),
                            n = this.getAttribute('client');
                          if (Astro[n] === void 0) {
                            window.addEventListener(
                              `astro:${n}`,
                              () => this.start(),
                              { once: !0 }
                            );
                            return;
                          }
                          try {
                            await Astro[n](
                              async () => {
                                let r = this.getAttribute('renderer-url'),
                                  [l, { default: h }] = await Promise.all([
                                    import(this.getAttribute('component-url')),
                                    r ? import(r) : () => () => {},
                                  ]),
                                  p =
                                    this.getAttribute('component-export') ||
                                    'default';
                                if (!p.includes('.')) this.Component = l[p];
                                else {
                                  this.Component = l;
                                  for (let y of p.split('.'))
                                    this.Component = this.Component[y];
                                }
                                return (this.hydrator = h), this.hydrate;
                              },
                              e,
                              this
                            );
                          } catch (r) {
                            console.error(
                              `[astro-island] Error hydrating ${this.getAttribute('component-url')}`,
                              r
                            );
                          }
                        }
                        attributeChangedCallback() {
                          this.hydrate();
                        }
                      }),
                      d(u, 'observedAttributes', ['props']),
                      u)
                    );
                }
              })();
            </script>
            <script>
              window._$HY ||
                (e => {
                  let t = e =>
                    e &&
                    e.hasAttribute &&
                    (e.hasAttribute('data-hk')
                      ? e
                      : t(e.host && e.host.nodeType ? e.host : e.parentNode));
                  ['click', 'input'].forEach(o =>
                    document.addEventListener(o, o => {
                      let a =
                          (o.composedPath && o.composedPath()[0]) || o.target,
                        s = t(a);
                      s && !e.completed.has(s) && e.events.push([s, o]);
                    })
                  );
                })(
                  (_$HY = {
                    events: [],
                    completed: new WeakSet(),
                    r: {},
                    fe() {},
                  })
                );
            </script>
            <!--xs--><astro-island
              uid="2bGyLt"
              data-solid-render-id="s7"
              component-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/Carousel.COd3kU1v.js"
              component-export="default"
              renderer-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/client.C3f1WkGc.js"
              props='{"slidesSelector":[0,".embla-slides-b"],"paginationSelector":[0,".section-b-pagination"],"disableOnDesktop":[0,false]}'
              ssr=""
              client="idle"
              opts='{"name":"Carousel","value":true}'
              await-children=""
              ><div data-hk="s70-0-0-0" class="gpj-w-full gpj-relative">
                <div class="gpj-w-full gpj-will-change-transform">
                  <div class="gpj-flex touch-pan-y gpj-gap-[1rem]">
                    <astro-slot
                      ><div
                        class="embla-slides-b gpj-min-w-0 gpj-flex-grow-0 gpj-flex-shrink-0 gpj-basis-[100%]"
                      >
                        <div
                          class="gpj-flex gpj-shrink-0 gpj-w-full gpj-max-w-xs gpj-mx-auto gpj-min-w-0 sm:gpj-max-w-7xl"
                        >
                          <a
                            href="https://www.greenpeace.org/japan/campaigns/annual-report/2024/04/02/65835/"
                            target="_blank"
                            rel="noreferrer"
                            class="gpj-w-full gpj-relative gpj-aspect-[2/3] sm:gpj-aspect-[16/9]"
                          >
                            <div
                              class="gpj-absolute gpj-top-0 gpj-left-0 gpj-flex gpj-flex-wrap gpj-content-start gpj-w-full gpj-h-full sm:gpj-content-normal sm:gpj-flex-nowrap"
                            >
                              <div
                                class="gpj-relative gpj-w-full gpj-overflow-hidden gpj-shadow-md gpj-h-80 sm:gpj-h-auto sm:gpj-w-1/2 gpj-rounded-md lg:gpj-w-3/5"
                              >
                                <img
                                  src="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP1T5MIS.BfFKhFFE_Z19P6Rn.webp"
                                  srcset="
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP1T5MIS.BfFKhFFE_ZATR9U.webp   640w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP1T5MIS.BfFKhFFE_1m0Fm3.webp   800w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP1T5MIS.BfFKhFFE_ZEiqLv.webp  1200w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP1T5MIS.BfFKhFFE_1qSCuP.webp  1400w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP1T5MIS.BfFKhFFE_Z1x6r1K.webp 1600w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP1T5MIS.BfFKhFFE_Z19P6Rn.webp 2000w
                                  "
                                  alt="【Climate &#38; Energy】"
                                  loading="lazy"
                                  class="gpj-object-cover gpj-object-center gpj-w-full gpj-h-full"
                                  sizes="(max-width: 375px) 640px, (max-width: 640px) 800px, (max-width: 768px) 1200px, (max-width: 1024px) 1400px, (max-width: 1280px) 1600px, (max-width: 1536px) 2000px"
                                  width="1920"
                                  height="1281"
                                  decoding="async"
                                />
                              </div>
                              <div
                                class="gpj-flex gpj-items-start gpj-w-full gpj-p-4 gpj-text-gray-600 sm:gpj-items-center sm:gpj-w-1/2 lg:gpj-w-2/5"
                              >
                                <h3
                                  class="gpj-flex gpj-flex-col gpj-text-2xl gpj-font-bold"
                                >
                                  <span>【Climate &amp; Energy】</span>
                                  <span>気候のことは暮らしのはなし</span>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div
                        class="embla-slides-b gpj-min-w-0 gpj-flex-grow-0 gpj-flex-shrink-0 gpj-basis-[100%]"
                      >
                        <div
                          class="gpj-flex gpj-shrink-0 gpj-w-full gpj-max-w-xs gpj-mx-auto gpj-min-w-0 sm:gpj-max-w-7xl"
                        >
                          <a
                            href="https://www.greenpeace.org/japan/campaigns/annual-report/2024/04/02/65843/"
                            target="_blank"
                            rel="noreferrer"
                            class="gpj-w-full gpj-relative gpj-aspect-[2/3] sm:gpj-aspect-[16/9]"
                          >
                            <div
                              class="gpj-absolute gpj-top-0 gpj-left-0 gpj-flex gpj-flex-wrap gpj-content-start gpj-w-full gpj-h-full sm:gpj-content-normal sm:gpj-flex-nowrap"
                            >
                              <div
                                class="gpj-relative gpj-w-full gpj-overflow-hidden gpj-shadow-md gpj-h-80 sm:gpj-h-auto sm:gpj-w-1/2 gpj-rounded-md lg:gpj-w-3/5"
                              >
                                <img
                                  src="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/shutterstock_1937522518.DHETeKa4_Z1DXEaU.webp"
                                  srcset="
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/shutterstock_1937522518.DHETeKa4_Z20bp32.webp  640w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/shutterstock_1937522518.DHETeKa4_Z2fQw4.webp   800w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/shutterstock_1937522518.DHETeKa4_1L595l.webp  1200w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/shutterstock_1937522518.DHETeKa4_Z1cTUrf.webp 1400w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/shutterstock_1937522518.DHETeKa4_Sh8P6.webp   1600w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/shutterstock_1937522518.DHETeKa4_Z1DXEaU.webp 2000w
                                  "
                                  alt="【Good Life】"
                                  loading="lazy"
                                  class="gpj-object-cover gpj-object-center gpj-w-full gpj-h-full"
                                  sizes="(max-width: 375px) 640px, (max-width: 640px) 800px, (max-width: 768px) 1200px, (max-width: 1024px) 1400px, (max-width: 1280px) 1600px, (max-width: 1536px) 2000px"
                                  width="1920"
                                  height="1280"
                                  decoding="async"
                                />
                              </div>
                              <div
                                class="gpj-flex gpj-items-start gpj-w-full gpj-p-4 gpj-text-gray-600 sm:gpj-items-center sm:gpj-w-1/2 lg:gpj-w-2/5"
                              >
                                <h3
                                  class="gpj-flex gpj-flex-col gpj-text-2xl gpj-font-bold"
                                >
                                  <span>【Good Life】</span>
                                  <span
                                    >使い捨てない豊かな生活へのチェンジ</span
                                  >
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div
                        class="embla-slides-b gpj-min-w-0 gpj-flex-grow-0 gpj-flex-shrink-0 gpj-basis-[100%]"
                      >
                        <div
                          class="gpj-flex gpj-shrink-0 gpj-w-full gpj-max-w-xs gpj-mx-auto gpj-min-w-0 sm:gpj-max-w-7xl"
                        >
                          <a
                            href="https://www.greenpeace.org/japan/campaigns/annual-report/2024/04/02/65848/"
                            target="_blank"
                            rel="noreferrer"
                            class="gpj-w-full gpj-relative gpj-aspect-[2/3] sm:gpj-aspect-[16/9]"
                          >
                            <div
                              class="gpj-absolute gpj-top-0 gpj-left-0 gpj-flex gpj-flex-wrap gpj-content-start gpj-w-full gpj-h-full sm:gpj-content-normal sm:gpj-flex-nowrap"
                            >
                              <div
                                class="gpj-relative gpj-w-full gpj-overflow-hidden gpj-shadow-md gpj-h-80 sm:gpj-h-auto sm:gpj-w-1/2 gpj-rounded-md lg:gpj-w-3/5"
                              >
                                <img
                                  src="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STYDSE.DNRoh_cG_16uC7z.webp"
                                  srcset="
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STYDSE.DNRoh_cG_1QlJjF.webp   640w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STYDSE.DNRoh_cG_Z1fTPXi.webp  800w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STYDSE.DNRoh_cG_ZyPy1e.webp  1200w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STYDSE.DNRoh_cG_1wlvg7.webp  1400w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STYDSE.DNRoh_cG_Z1rDygt.webp 1600w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/GP0STYDSE.DNRoh_cG_16uC7z.webp  2000w
                                  "
                                  alt="【Global キャンペーン】"
                                  loading="lazy"
                                  class="gpj-object-cover gpj-object-center gpj-w-full gpj-h-full"
                                  sizes="(max-width: 375px) 640px, (max-width: 640px) 800px, (max-width: 768px) 1200px, (max-width: 1024px) 1400px, (max-width: 1280px) 1600px, (max-width: 1536px) 2000px"
                                  width="1920"
                                  height="1280"
                                  decoding="async"
                                />
                              </div>
                              <div
                                class="gpj-flex gpj-items-start gpj-w-full gpj-p-4 gpj-text-gray-600 sm:gpj-items-center sm:gpj-w-1/2 lg:gpj-w-2/5"
                              >
                                <h3
                                  class="gpj-flex gpj-flex-col gpj-text-2xl gpj-font-bold"
                                >
                                  <span>【Global キャンペーン】</span>
                                  <span>グリーンの輪は国境を超えて</span>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div></astro-slot
                    >
                  </div>
                </div>
                <!--$--><!--/--><!--$--><button
                  data-hk="s70-0-0-2-0-0"
                  class="lg:group-[.section-d]:gpj-hidden group-[.section-b]:gpj-hidden sm:group-[.section-b]:gpj-block gpj-absolute gpj-top-[50%] gpj-cursor-pointer gpj-mt-[-20px] gpj-z-10 gpj-bg-white gpj-text-[#074365] gpj-w-[40px] gpj-h-[40px] gpj-p-[8px] gpj-rounded-full gpj-shadow-[0_0_5px_2px_rgba(0,0,0,0.1)] gpj-bg-[url(&quot;/src/assets/chevron.svg&quot;)] gpj-bg-[length:18px_18px] gpj-bg-no-repeat gpj-bg-center next gpj-left-auto gpj-right-[-10px] md:gpj-right-[-20px]"
                ></button
                ><!--/--><!--$--><!--/-->
              </div>
              <!--astro:end--></astro-island
            >
          </div>
        </div>
      </section>
      <section class="gpj-bg-gray-200 gpj-font-sans gpj-py-12 section-c">
        <div class="gpj-container gpj-mx-auto gpj-px-4">
          <h2 class="gpj-mb-8 gpj-text-3xl gpj-text-black gpj-font-bold">
            グリーンピースの活動を支えてくださった多くのみなさまに、心より感謝申し上げます。<!--!$-->
          </h2>
          <p class="gpj-mb-8 gpj-text-2xl gpj-font-bold">数字で見る2023年：</p>
          <p class="gpj-mb-8">
            より多くの市民が声をあげることで、変化を生み出す力は一層強くなります。環境と地球の未来を考え、ともに行動する仲間の存在が、グリーンピースの行動力の源です。
          </p>
          <div
            class="gpj-flex gpj-text-gray-600 gpj-flex-row gpj-flex-wrap lg:gpj-flex-nowrap lg:gpj-divide-x lg:gpj-divide-gray-400"
          >
            <div
              class="gpj-w-1/2 gpj-pr-4 gpj-mb-6 md:gpj-w-1/3 lg:gpj-w-1/5 lg:gpj-pl-4 lg:first:gpj-pl-0"
            >
              <div class="gpj-text-2xl gpj-font-bold gpj-whitespace-nowrap">
                <script>
                  (() => {
                    var l = (s, i, o) => {
                      let r = async () => {
                          await (
                            await s()
                          )();
                        },
                        t = typeof i.value == 'object' ? i.value : void 0,
                        c = { rootMargin: t == null ? void 0 : t.rootMargin },
                        n = new IntersectionObserver(e => {
                          for (let a of e)
                            if (a.isIntersecting) {
                              n.disconnect(), r();
                              break;
                            }
                        }, c);
                      for (let e of o.children) n.observe(e);
                    };
                    (self.Astro || (self.Astro = {})).visible = l;
                    window.dispatchEvent(new Event('astro:visible'));
                  })();
                </script>
                <astro-island
                  uid="1tVf0p"
                  data-solid-render-id="s0"
                  component-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/Counter.2n_t-udw.js"
                  component-export="default"
                  renderer-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/client.C3f1WkGc.js"
                  props='{"string":[0,"6730人"]}'
                  ssr=""
                  client="visible"
                  opts='{"name":"Counter","value":true}'
                  await-children=""
                  ><span data-hk="s00-0-0-0">6,730人</span
                  ><!--astro:end--></astro-island
                >
              </div>
              <div class="gpj-pt-2">寄付サポーター数</div>
            </div>
            <div
              class="gpj-w-1/2 gpj-pr-4 gpj-mb-6 md:gpj-w-1/3 lg:gpj-w-1/5 lg:gpj-pl-4 lg:first:gpj-pl-0"
            >
              <div class="gpj-text-2xl gpj-font-bold gpj-whitespace-nowrap">
                <astro-island
                  uid="ahkWF"
                  data-solid-render-id="s1"
                  component-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/Counter.2n_t-udw.js"
                  component-export="default"
                  renderer-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/client.C3f1WkGc.js"
                  props='{"string":[0,"約5000人"]}'
                  ssr=""
                  client="visible"
                  opts='{"name":"Counter","value":true}'
                  await-children=""
                  ><span data-hk="s10-0-0-0">約5,000人</span
                  ><!--astro:end--></astro-island
                >
                <sup class="gpj-text-sm">*1</sup>
              </div>
              <div class="gpj-pt-2">イベント参加者数</div>
            </div>
            <div
              class="gpj-w-1/2 gpj-pr-4 gpj-mb-6 md:gpj-w-1/3 lg:gpj-w-1/5 lg:gpj-pl-4 lg:first:gpj-pl-0"
            >
              <div class="gpj-text-2xl gpj-font-bold gpj-whitespace-nowrap">
                <astro-island
                  uid="2hQ81R"
                  data-solid-render-id="s2"
                  component-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/Counter.2n_t-udw.js"
                  component-export="default"
                  renderer-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/client.C3f1WkGc.js"
                  props='{"string":[0,"120人"]}'
                  ssr=""
                  client="visible"
                  opts='{"name":"Counter","value":true}'
                  await-children=""
                  ><span data-hk="s20-0-0-0">120人</span
                  ><!--astro:end--></astro-island
                >
              </div>
              <div class="gpj-pt-2">新規ボランティア登録者数</div>
            </div>
            <div
              class="gpj-w-1/2 gpj-pr-4 gpj-mb-6 md:gpj-w-1/3 lg:gpj-w-1/5 lg:gpj-pl-4 lg:first:gpj-pl-0"
            >
              <div class="gpj-text-2xl gpj-font-bold gpj-whitespace-nowrap">
                <astro-island
                  uid="Z1pz5Q4"
                  data-solid-render-id="s3"
                  component-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/Counter.2n_t-udw.js"
                  component-export="default"
                  renderer-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/client.C3f1WkGc.js"
                  props='{"string":[0,"2061003回"]}'
                  ssr=""
                  client="visible"
                  opts='{"name":"Counter","value":true}'
                  await-children=""
                  ><span data-hk="s30-0-0-0">2,061,003回</span
                  ><!--astro:end--></astro-island
                >
              </div>
              <div class="gpj-pt-2">ウェブサイト総閲覧回数</div>
            </div>
            <div
              class="gpj-w-1/2 gpj-pr-4 gpj-mb-6 md:gpj-w-1/3 lg:gpj-w-1/5 lg:gpj-pl-4 lg:first:gpj-pl-0"
            >
              <div class="gpj-text-2xl gpj-font-bold gpj-whitespace-nowrap">
                <astro-island
                  uid="Z18XNrx"
                  data-solid-render-id="s4"
                  component-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/Counter.2n_t-udw.js"
                  component-export="default"
                  renderer-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/client.C3f1WkGc.js"
                  props='{"string":[0,"2774件"]}'
                  ssr=""
                  client="visible"
                  opts='{"name":"Counter","value":true}'
                  await-children=""
                  ><span data-hk="s40-0-0-0">2,774件</span
                  ><!--astro:end--></astro-island
                >
                <sup class="gpj-text-sm">*2</sup>
              </div>
              <div class="gpj-pt-2">メディアで紹介された件数</div>
            </div>
          </div>
          <div class="gpj-text-center gpj-text-gray-600 gpj-text-sm">
            *1：通常のイベントの他、学校での講義、企業研修、記者向け勉強会、ライブ配信などを含みます。<br />*2：2023年から、メディア掲載の評価方法を変更し、よりグリーンピース・ジャパンの実質的な活動に直結する数字に統一しました。昨年までの数字と単純比較はできません。<!--!$-->
          </div>
        </div>
      </section>
      <section
        class="gpj-overflow-hidden gpj-bg-gray-100 gpj-font-sans gpj-py-12 section-d gpj-group"
      >
        <div class="gpj-mx-auto gpj-px-4">
          <h2
            class="gpj-mb-8 gpj-text-3xl gpj-text-center gpj-text-black gpj-font-bold"
          >
            地球の恵みを、100年先の子どもたちに届ける。<!--!$-->
          </h2>
          <div class="gpj-w-full">
            <div
              class="gpj-flex gpj-justify-start gpj-flex-row gpj-w-full gpj-flex-nowrap"
            >
              <astro-island
                uid="ZeOExi"
                data-solid-render-id="s6"
                component-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/Carousel.COd3kU1v.js"
                component-export="default"
                renderer-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/client.C3f1WkGc.js"
                props='{"slidesSelector":[0,".embla-slides-d"],"disableOnDesktop":[0,true]}'
                ssr=""
                client="idle"
                opts='{"name":"Carousel","value":true}'
                await-children=""
                ><div data-hk="s60-0-0-0" class="gpj-w-full gpj-relative">
                  <div class="gpj-w-full gpj-will-change-transform">
                    <div class="gpj-flex touch-pan-y gpj-gap-[1rem]">
                      <astro-slot
                        ><div
                          class="embla-slides-d gpj-min-w-0 gpj-flex-grow-0 gpj-flex-shrink-0 gpj-basis-[100%] md:gpj-basis-[calc(50%-1rem*2/3)] lg:gpj-basis-[calc(33.33333%-1rem*2/3)]"
                        >
                          <div
                            class="gpj-shrink-0 gpj-h-full gpj-overflow-hidden gpj-shadow gpj-rounded-md"
                          >
                            <a
                              href="https://www.greenpeace.org/japan/campaigns/annual-report/2024/04/02/65853/"
                              target="_blank"
                              rel="noreferrer"
                            >
                              <div
                                class="gpj-relative gpj-w-full gpj-aspect-[16/9]"
                              >
                                <img
                                  src="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/IMG_9894.WnH1I-7__th7lA.webp"
                                  srcset="
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/IMG_9894.WnH1I-7__Z1w4KPi.webp  640w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/IMG_9894.WnH1I-7__qPLFF.webp    800w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/IMG_9894.WnH1I-7__1iQD6p.webp  1200w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/IMG_9894.WnH1I-7__Z1F8qqb.webp 1400w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/IMG_9894.WnH1I-7__q3CQa.webp   1600w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/IMG_9894.WnH1I-7__th7lA.webp   2000w
                                  "
                                  alt="【2023年の活動成果を振り返って】"
                                  loading="lazy"
                                  class="gpj-object-cover gpj-object-center gpj-w-full gpj-h-full"
                                  sizes="(max-width: 375px) 640px, (max-width: 640px) 800px, (max-width: 768px) 1200px, (max-width: 1024px) 1400px, (max-width: 1280px) 1600px, (max-width: 1536px) 2000px"
                                  width="1920"
                                  height="1440"
                                  decoding="async"
                                />
                              </div>
                              <div class="gpj-p-5">
                                <h3
                                  class="gpj-mb-4 gpj-text-xl gpj-font-bold gpj-text-center"
                                >
                                  【2023年の活動成果を振り返って】<!--!$-->
                                </h3>
                                <p class="gpj-text-center">
                                  グリーンピース・ジャパンの支援者のみなさまへ
                                </p>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div
                          class="embla-slides-d gpj-min-w-0 gpj-flex-grow-0 gpj-flex-shrink-0 gpj-basis-[100%] md:gpj-basis-[calc(50%-1rem*2/3)] lg:gpj-basis-[calc(33.33333%-1rem*2/3)]"
                        >
                          <div
                            class="gpj-shrink-0 gpj-h-full gpj-overflow-hidden gpj-shadow gpj-rounded-md"
                          >
                            <a
                              href="https://www.greenpeace.org/japan/campaigns/annual-report/2024/04/02/65859/"
                              target="_blank"
                              rel="noreferrer"
                            >
                              <div
                                class="gpj-relative gpj-w-full gpj-aspect-[16/9]"
                              >
                                <img
                                  src="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/1123_127.D4d7zSou_ZcfYTO.webp"
                                  srcset="
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/1123_127.D4d7zSou_YzG36.webp    640w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/1123_127.D4d7zSou_Z27FTeR.webp  800w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/1123_127.D4d7zSou_Z1WKull.webp 1200w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/1123_127.D4d7zSou_8qyV0.webp   1400w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/1123_127.D4d7zSou_2eCDdl.webp  1600w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/1123_127.D4d7zSou_ZcfYTO.webp  2000w
                                  "
                                  alt="【著名人が参加した環境キャンペーン】"
                                  loading="lazy"
                                  class="gpj-object-cover gpj-object-center gpj-w-full gpj-h-full"
                                  sizes="(max-width: 375px) 640px, (max-width: 640px) 800px, (max-width: 768px) 1200px, (max-width: 1024px) 1400px, (max-width: 1280px) 1600px, (max-width: 1536px) 2000px"
                                  width="1920"
                                  height="1280"
                                  decoding="async"
                                />
                              </div>
                              <div class="gpj-p-5">
                                <h3
                                  class="gpj-mb-4 gpj-text-xl gpj-font-bold gpj-text-center"
                                >
                                  【著名人が参加した環境キャンペーン】<!--!$-->
                                </h3>
                                <p class="gpj-text-center">
                                  2023年も、様々な分野で活躍する著名人、専門家、文化人の方々がグリーンピースのキャンペーンに参加してくれました。
                                </p>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div
                          class="embla-slides-d gpj-min-w-0 gpj-flex-grow-0 gpj-flex-shrink-0 gpj-basis-[100%] md:gpj-basis-[calc(50%-1rem*2/3)] lg:gpj-basis-[calc(33.33333%-1rem*2/3)]"
                        >
                          <div
                            class="gpj-shrink-0 gpj-h-full gpj-overflow-hidden gpj-shadow gpj-rounded-md"
                          >
                            <a
                              href="https://www.greenpeace.org/japan/campaigns/annual-report/2024/04/02/65864/"
                              target="_blank"
                              rel="noreferrer"
                            >
                              <div
                                class="gpj-relative gpj-w-full gpj-aspect-[16/9]"
                              >
                                <img
                                  src="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/DSCF9233.CwRnnjXJ_Z2vBnis.webp"
                                  srcset="
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/DSCF9233.CwRnnjXJ_ZR28hN.webp   640w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/DSCF9233.CwRnnjXJ_15Spea.webp   800w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/DSCF9233.CwRnnjXJ_1joDPU.webp  1200w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/DSCF9233.CwRnnjXJ_Z1EApFF.webp 1400w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/DSCF9233.CwRnnjXJ_qADAF.webp   1600w,
                                    /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/DSCF9233.CwRnnjXJ_Z2vBnis.webp 2000w
                                  "
                                  alt="【ボランティア&#38;インターン】"
                                  loading="lazy"
                                  class="gpj-object-cover gpj-object-center gpj-w-full gpj-h-full"
                                  sizes="(max-width: 375px) 640px, (max-width: 640px) 800px, (max-width: 768px) 1200px, (max-width: 1024px) 1400px, (max-width: 1280px) 1600px, (max-width: 1536px) 2000px"
                                  width="1920"
                                  height="1280"
                                  decoding="async"
                                />
                              </div>
                              <div class="gpj-p-5">
                                <h3
                                  class="gpj-mb-4 gpj-text-xl gpj-font-bold gpj-text-center"
                                >
                                  【ボランティア&amp;インターン】<!--!$-->
                                </h3>
                                <p class="gpj-text-center">
                                  より多くの市民がグリーンピースのキャンペーンに気軽に楽しく参加できるよう、工夫を凝らした様々な活動を展開しています。
                                </p>
                              </div>
                            </a>
                          </div>
                        </div></astro-slot
                      >
                    </div>
                  </div>
                  <!--$--><!--/--><!--$--><button
                    data-hk="s60-0-0-2-0-0"
                    class="lg:group-[.section-d]:gpj-hidden group-[.section-b]:gpj-hidden sm:group-[.section-b]:gpj-block gpj-absolute gpj-top-[50%] gpj-cursor-pointer gpj-mt-[-20px] gpj-z-10 gpj-bg-white gpj-text-[#074365] gpj-w-[40px] gpj-h-[40px] gpj-p-[8px] gpj-rounded-full gpj-shadow-[0_0_5px_2px_rgba(0,0,0,0.1)] gpj-bg-[url(&quot;/src/assets/chevron.svg&quot;)] gpj-bg-[length:18px_18px] gpj-bg-no-repeat gpj-bg-center next gpj-left-auto gpj-right-[-10px] md:gpj-right-[-20px]"
                  ></button
                  ><!--/--><!--$--><!--/-->
                </div>
                <!--astro:end--></astro-island
              >
            </div>
          </div>
        </div>
      </section>
      <section
        class="gpj-text-white gpj-bg-blue-900 gpj-font-sans gpj-py-12 section-e"
      >
        <div
          class="gpj-container gpj-flex gpj-mx-auto gpj-flex-row gpj-flex-wrap gpj-px-4 lg:gpj-flex-nowrap"
        >
          <div
            class="gpj-flex gpj-justify-center gpj-mb-6 gpj-flex-col lg:gpj-mb-0 lg:gpj-w-1/2 lg:gpj-pr-4"
          >
            <h2 class="gpj-mb-5 gpj-text-3xl gpj-font-bold">
              2023年次報告書<!--!$-->
            </h2>
            <p>
              政府や企業からの財政支援を受けない、独立・中立の立場から環境問題の解決を目指すグリーンピースの活動は、この報告書に掲載された成果を含めてすべて、地球の未来をまもりたいと願う個人のみなさまのご支援のみに支えられています。(PDF
              版は準備中です)
            </p>
          </div>
          <div
            class="gpj-flex gpj-flex-row gpj-flex-wrap gpj-w-full sm:gpj-flex-nowrap lg:gpj-shrink-0 lg:gpj-w-1/2"
          >
            <div
              class="gpj-flex gpj-justify-center gpj-p-0 gpj-mb-6 gpj-w-full sm:gpj-pr-8 sm:gpj-py-0 sm:gpj-w-1/3 sm:gpj-mb-0 sm:gpj-justify-start lg:gpj-justify-center lg:gpj-w-1/2"
            >
              <a
                target="_blank"
                rel="noreferrer"
                href="https://www.greenpeace.org/static/planet4-japan-stateless/2023/06/aa6c9084-gpar2022_jp.pdf"
                class="gpj-h-0 gpj-bg-gray-200 gpj-relative gpj-w-full gpj-aspect-w-2 gpj-aspect-h-3 gpj-cursor-default"
              >
                <!-- <Image -->
                <!--   src={} -->
                <!--   alt={T.A.HEADING} -->
                <!--   class='gpj-object-cover gpj-object-center gpj-h-full gpj-w-full' -->
                <!-- /> -->
              </a>
            </div>
            <div class="gpj-flex gpj-w-full sm:gpj-w-2/3 lg:gpj-w-1/2">
              <div class="gpj-flex gpj-max-w-xs gpj-flex-col">
                <p class="gpj-mb-5">
                  誰もが安心して暮らせる緑豊かで平和な社会を、一緒に実現するためにこれからも、グリーンピースと一緒に行動してください。
                </p>
                <div class="gpj-mb-5 gpj-hidden">
                  <a
                    class="gpj-inline-block"
                    target="_blank"
                    rel="noreferrer"
                    href="https://www.greenpeace.org/static/planet4-japan-stateless/2023/06/aa6c9084-gpar2022_jp.pdf"
                  >
                    <button
                      class="gpj-rounded-full gpj-bg-[#f36b35] gpj-px-4 gpj-py-2"
                    >
                      報告書をみる
                    </button>
                  </a>
                </div>
                <div class="gpj-mb-12 gpj-hidden">
                  <a
                    class="gpj-underline visited:gpj-text-[#83EEFF]"
                    target="_blank"
                    rel="noreferrer"
                    href="https://www.greenpeace.org/static/planet4-japan-stateless/2022/06/98f5e03e-gpar2021_en.pdf"
                  >
                    英語版の報告書
                  </a>
                </div>
                <div>
                  <a
                    class="gpj-underline visited:gpj-text-[#83EEFF]"
                    target="_blank"
                    rel="noreferrer"
                    href="https://www.greenpeace.org/japan/aboutus/annual-report/2024/04/02/65876/"
                  >
                    会計報告書はこちら
                  </a>
                </div>
                <div>
                  <a
                    class="gpj-underline visited:gpj-text-[#83EEFF]"
                    target="_blank"
                    rel="noreferrer"
                    href="https://www.greenpeace.org/japan/about-us-2/info-access/"
                  >
                    団体情報はこちら
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="gpj-text-white gpj-font-sans gpj-relative gpj-py-56 section-f"
      >
        <div class="gpj-absolute gpj-top-0 gpj-left-0 gpj-h-full gpj-w-full">
          <img
            src="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/section-f.CPt9W-3k_Zjq3JD.webp"
            srcset="
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/section-f.CPt9W-3k_93Vd0.webp   640w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/section-f.CPt9W-3k_26YtIX.webp  800w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/section-f.CPt9W-3k_Zjq3JD.webp 1200w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/section-f.CPt9W-3k_Zjq3JD.webp 1400w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/section-f.CPt9W-3k_Zjq3JD.webp 1600w,
              /japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/section-f.CPt9W-3k_Zjq3JD.webp 2000w
            "
            alt=""
            loading="lazy"
            class="gpj-object-cover gpj-object-center gpj-h-full gpj-w-full"
            sizes="(max-width: 375px) 640px, (max-width: 640px) 800px, (max-width: 768px) 1200px, (max-width: 1024px) 1400px, (max-width: 1280px) 1600px, (max-width: 1536px) 2000px"
            width="1200"
            height="800"
            decoding="async"
          />
        </div>
        <div
          class="gpj-bg-black gpj-absolute gpj-top-0 gpj-left-0 gpj-h-full gpj-w-full gpj-opacity-40"
        ></div>
        <div
          class="gpj-container gpj-flex gpj-mx-auto gpj-relative gpj-flex-row gpj-flex-wrap gpj-px-4 lg:gpj-flex-no-wrap"
        >
          <div class="gpj-w-full lg:gpj-w-1/2">
            <h2 class="gpj-mb-5 gpj-text-3xl gpj-font-bold">
              グリーンピースを寄付でご支援ください。<!--!$-->
            </h2>
            <p class="gpj-mb-5 lg:gpj-mb-0">
              グリーンピースの活動はすべて、個人のご寄付のみに支えられています。あらゆる命と未来をまもるため、ぜひサポーターのひとりに加わっていただけませんか。
              あなたのご寄付が、世界中で起こっている環境破壊を解決に導きます。
            </p>
          </div>
          <div class="gpj-w-full lg:gpj-w-1/2">
            <div class="sm:gpj-px-20 lg:gpj-px-8 xl:gpj-px-20">
              <astro-island
                uid="Z1KidN8"
                data-solid-render-id="s5"
                component-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/DonationWidget.D7csAJuf.js"
                component-export="default"
                renderer-url="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-annual-report-2023/_astro/client.C3f1WkGc.js"
                props='{"content":[0,{"HEADING":[0,"グリーンピースを寄付でご支援ください。"],"SUB_HEADING":[0,"グリーンピースの活動はすべて、個人のご寄付のみに支えられています。あらゆる命と未来をまもるため、ぜひサポーターのひとりに加わっていただけませんか。 あなたのご寄付が、世界中で起こっている環境破壊を解決に導きます。"],"DONATION_WIDGET":[1,[[0,{"TAB":[0,"継続寄付"],"TITLE":[0,""],"DESCRIPTION":[0,"毎月の継続的なご支援"],"BUTTON":[0,"今すぐ寄付する"],"LINK_HREF":[0,"https://act.gp/48MEjtO"]}],[0,{"TAB":[0,"今回限りの寄付"],"TITLE":[0,""],"DESCRIPTION":[0,"まずは一回限りという方"],"BUTTON":[0,"今すぐ寄付する"],"LINK_HREF":[0,"https://act.gp/3v4LPSS"]}],[0,{"TAB":[1,[[0,"遺言、相続財産"],[0,"からのご寄付"]]],"TITLE":[0,"遺言、相続財産からのご寄付"],"DESCRIPTION":[0,"あなたが築き上げてこられたものを、将来世代のために"],"BUTTON":[0,"詳しくはこちら"],"LINK_HREF":[0,"https://act.gp/4c9fHy2"]}]]]}]}'
                ssr=""
                client="visible"
                opts='{"name":"DonationWidget","value":true}'
                await-children=""
                ><div
                  data-hk="s50-0-0-0"
                  class="gpj-overflow-hidden gpj-bg-white gpj-rounded-md"
                >
                  <ul class="gpj-flex gpj-bg-gray-200 gpj-border-b-0">
                    <li
                      data-hk="s50-0-0-1-0"
                      class="gpj-flex gpj-items-center gpj-justify-center gpj-px-2 gpj-py-2 gpj-font-bold gpj-leading-tight gpj-text-center gpj-text-gray-500 gpj-bg-transparent gpj-cursor-default focus:gpj-outline-none xs:gpj-px-4 gpj-bg-white"
                    >
                      <span data-hk="s50-0-0-1-1-0-1-0">継続寄付<!--!$--></span>
                    </li>
                    <li
                      data-hk="s50-0-0-1-2"
                      class="gpj-flex gpj-items-center gpj-justify-center gpj-px-2 gpj-py-2 gpj-font-bold gpj-leading-tight gpj-text-center gpj-text-gray-500 gpj-bg-transparent gpj-cursor-default focus:gpj-outline-none xs:gpj-px-4"
                    >
                      <span data-hk="s50-0-0-1-3-0-1-0"
                        >今回限りの寄付<!--!$--></span
                      >
                    </li>
                    <li
                      data-hk="s50-0-0-1-4"
                      class="gpj-flex gpj-items-center gpj-justify-center gpj-px-2 gpj-py-2 gpj-font-bold gpj-leading-tight gpj-text-center gpj-text-gray-500 gpj-bg-transparent gpj-cursor-default focus:gpj-outline-none xs:gpj-px-4"
                    >
                      <span data-hk="s50-0-0-1-5-0-1-0"
                        >遺言、相続財産<br
                          data-hk="s50-0-0-1-5-0-1-1-0-0"
                        />からのご寄付<!--!$--></span
                      >
                    </li>
                  </ul>
                  <!--$-->
                  <div
                    data-hk="s50-0-0-2-0-0"
                    class="gpj-m-0 gpj-text-gray-600"
                  >
                    <div class="gpj-p-4 sm:gpj-p-8">
                      <!--$--><!--/--><!--$-->
                      <p data-hk="s50-0-0-2-0-1-0-1-0-0" class="gpj-mb-5">
                        毎月の継続的なご支援
                      </p>
                      <!--/--><a
                        href="https://act.gp/48MEjtO"
                        target="_blank"
                        rel="noreferrer"
                        ><button
                          type="button"
                          class="gpj-w-full gpj-px-4 gpj-py-2 gpj-mb-5 gpj-text-white gpj-bg-[#f36b35] gpj-rounded-full"
                        >
                          今すぐ寄付する
                        </button></a
                      >
                    </div>
                  </div>
                  <!--!$--><!--/-->
                </div>
                <!--astro:end--></astro-island
              >
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
