	<title data-rh="true">気候変動について</title>
	<meta data-rh="true" name="description" content="地球温暖化によって引き起こされる気候変動。地球全体の気候が不安定になり、生態系がバランスを崩し、私たちの社会・生活にも大きな影響を及ぼします。日本に住む私たちも、猛暑、集中豪雨などの異常気象とそれに伴う災害として、気候変動の影響を受け始めています。" />
	<meta data-rh="true" property="og:title" content="気候変動について" />
	<meta data-rh="true" property="og:description" content="地球温暖化によって引き起こされる気候変動。地球全体の気候が不安定になり、生態系がバランスを崩し、私たちの社会・生活にも大きな影響を及ぼします。日本に住む私たちも、猛暑、集中豪雨などの異常気象とそれに伴う災害として、気候変動の影響を受け始めています。" />
	<meta data-rh="true" property="og:image" content="/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-issue-page/static/9ff8396456645132578a63a06a3eefac/climate_PC_heading1.png" />
