    <title data-rh="true">ゼロから分かる気候変動の原因と対策</title>
    <meta data-rh="true" name="robots" content="index,follow" />
    <meta data-rh="true" name="googlebot" content="index,follow" />
    <meta
      data-rh="true"
      name="description"
      content="いま地球で何が起こっているのか？　日本、そして世界各地で起きている干ばつ、森林災害、異常気象は気候変動が今まさに私たちの生活に忍び寄る危機だと警告を鳴らしています。温暖化を抑え、かけがえのない地球を100年先の子どもたちにも手渡せるように。ひとりひとりの意識変革と行動が、未来をつくります。できることからやっていきましょう。"
    />
    <meta data-rh="true" name="twitter:card" content="summary_large_image" />
    <meta data-rh="true" name="twitter:site" content="@GreenpeaceJP" />
    <meta data-rh="true" property="og:title" content="ゼロから分かる気候変動の原因と対策" />
    <meta
      data-rh="true"
      property="og:description"
      content="いま地球で何が起こっているのか？　日本、そして世界各地で起きている干ばつ、森林災害、異常気象は気候変動が今まさに私たちの生活に忍び寄る危機だと警告を鳴らしています。温暖化を抑え、かけがえのない地球を100年先の子どもたちにも手渡せるように。ひとりひとりの意識変革と行動が、未来をつくります。できることからやっていきましょう。"
    />
    <meta
      data-rh="true"
      property="og:image"
      content="https://www.greenpeace.org/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-issue-page/static/f54369865ff61d4356085fe84c8de012/climate_PC_MV.jpg"
    />
    <meta
      data-rh="true"
      name="keywords"
      content="気候変動,異常気象,地球温暖化,CO2,グリーン・リカバリー,ゼロカーボン"
    />
