    <title data-rh="true">ファッションについて</title>
    <meta
      data-rh="true"
      name="description"
      content="私たちが暮らす上で欠かせない、衣・食・住にまつわるモノたち。かつては自分たちの身の回りで手に入る素材を利用し、自分でまたは顔の見える範囲で作られていたモノは、いつしか商品として購入し消費することが当たり前になりました。"
    />
    <meta data-rh="true" property="og:title" content="ファッションについて" />
    <meta
      data-rh="true"
      property="og:description"
      content="私たちが暮らす上で欠かせない、衣・食・住にまつわるモノたち。かつては自分たちの身の回りで手に入る素材を利用し、自分でまたは顔の見える範囲で作られていたモノは、いつしか商品として購入し消費することが当たり前になりました。"
    />
    <meta
      data-rh="true"
      property="og:image"
      content="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-issue-page/static/cc38957ada7728a42da77afe1e34968b/fashion_PC_index_1.png"
    />

