    <title data-rh="true">ゼロから学ぶファッションと環境問題</title>
    <meta data-rh="true" name="robots" content="index,follow" />
    <meta data-rh="true" name="googlebot" content="index,follow" />
    <meta
      data-rh="true"
      name="description"
      content="あなたが着ている衣服は環境破壊をしている？　Tシャツ1着をつくるのに消費される水の量は約2,700リットル。衣類の製造過程では、有害化学物質も使用され、その一部は河川に放出されて水質汚染を引き起こしています。CO2を排出し、川や海を汚したり、美しい洋服の背景にある深刻な問題を知ってください。"
    />
    <meta data-rh="true" name="twitter:card" content="summary_large_image" />
    <meta data-rh="true" name="twitter:site" content="@GreenpeaceJP" />
    <meta
      data-rh="true"
      property="og:title"
      content="ゼロから学ぶファッションと環境問題"
    />
    <meta
      data-rh="true"
      property="og:description"
      content="あなたが着ている衣服は環境破壊をしている？　Tシャツ1着をつくるのに消費される水の量は約2,700リットル。衣類の製造過程では、有害化学物質も使用され、その一部は河川に放出されて水質汚染を引き起こしています。CO2を排出し、川や海を汚したり、美しい洋服の背景にある深刻な問題を知ってください。"
    />
    <meta
      data-rh="true"
      property="og:image"
      content="https://www.greenpeace.org/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-issue-page/static/e4d66c1c68a37ab958dadb95130107dd/fashion_PC_MV.jpg"
    />
    <meta
      data-rh="true"
      name="keywords"
      content="有害物質,ファストファッション,マイクロファイバー,PFCs"
    />
