    <title data-rh="true">ゼロから学ぶ食と環境問題</title>
    <meta
      data-rh="true"
      name="description"
      content="「食」はあらゆる環境問題に大きく関わっています。世界中で人為的に排出される温室効果ガスの3分の1は「食」に関係し、工業型畜産は森林破壊の主要な原因です。自然環境や多様な生きものと共存する生態系農業へとシフトしていくべき時が来ています。食卓からみえる環境問題について、ぜひ知ってください。"
    />
    <meta
      data-rh="true"
      property="og:title"
      content="ゼロから学ぶ食と環境問題"
    />
    <meta
      data-rh="true"
      property="og:description"
      content="「食」はあらゆる環境問題に大きく関わっています。世界中で人為的に排出される温室効果ガスの3分の1は「食」に関係し、工業型畜産は森林破壊の主要な原因です。自然環境や多様な生きものと共存する生態系農業へとシフトしていくべき時が来ています。食卓からみえる環境問題について、ぜひ知ってください。"
    />
    <meta
      data-rh="true"
      property="og:image"
      content="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-issue-page/static/fefc493a63af3d94eb526bfba19abd38/food_PC_MV.jpg"
    />
    <meta
      data-rh="true"
      name="keywords"
      content="工業型畜産,食料自給率,種子法,ミツバチ,農薬"
    />
