    <title data-rh="true">ゼロから学ぶ森林問題</title>
    <meta data-rh="true" name="robots" content="index,follow" />
    <meta data-rh="true" name="googlebot" content="index,follow" />
    <meta
      data-rh="true"
      name="description"
      content="森林が破壊され続けている理由を知っていますか？　私たちがふだんの生活で、当たり前のように食べたり使ったりしているものーーチョコレートや牛肉、石けんやシャンプーの原料を生産するのが一因にあります。森は、人間だけでなく、たくさんの動物にとって食べ物とすみかを提供する生命の依り所です。森林を未来に残すために、私たちにできることは？"
    />
    <meta data-rh="true" property="og:title" content="ゼロから学ぶ森林問題" />
    <meta
      data-rh="true"
      property="og:description"
      content="森林が破壊され続けている理由を知っていますか？　私たちがふだんの生活で、当たり前のように食べたり使ったりしているものーーチョコレートや牛肉、石けんやシャンプーの原料を生産するのが一因にあります。森は、人間だけでなく、たくさんの動物にとって食べ物とすみかを提供する生命の依り所です。森林を未来に残すために、私たちにできることは？"
    />
    <meta
      data-rh="true"
      property="og:image"
      content="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-issue-page/static/003d59ce69168b9b263b0470e3d4bcdb/forest_PC_MV.jpg"
    />
    <meta
      data-rh="true"
      name="keywords"
      content="森林破壊,アマゾン熱帯雨林,パーム油,森林火災,工業型畜産"
    />
