    <title data-rh="true">森林問題について</title>
    <meta
      data-rh="true"
      name="description"
      content="森林は、私たちにたくさんのものを与えてくれています。木材や燃料を提供し、CO2(二酸化炭素）を蓄えて気候を調整し、空からの雨を海へと巡らせ、風景や空間として、癒しを提供してもくれます。"
    />
    <meta data-rh="true" property="og:title" content="森林問題について" />
    <meta
      data-rh="true"
      property="og:description"
      content="森林は、私たちにたくさんのものを与えてくれています。木材や燃料を提供し、CO2(二酸化炭素）を蓄えて気候を調整し、空からの雨を海へと巡らせ、風景や空間として、癒しを提供してもくれます。"
    />
    <meta
      data-rh="true"
      property="og:image"
      content="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-issue-page/static/99d93b91a0e97d0375297c37d4de8ffa/forest_PC_index_1.png"
    />
