    <title data-rh="true">ゼロから分かる原発問題</title>
    <meta
      data-rh="true"
      name="description"
      content="日本でも海外でも原子力発電所をなくさなければ、ずっと海は汚染され、事故の危険も消えません。いつ次の事故が起きるかわからない、使い終わった放射性廃棄物をどう処理すればよいのかもわからない原発は、未来を生きる子どもたちにとって負担にしかなりません。すべての原発を止め、自然エネルギー100%の社会へ。問題を知り、変えるための行動が、100年先も残したい地球へとつながります。"
    />
    <meta data-rh="true" property="og:title" content="ゼロから分かる原発問題" />
    <meta
      data-rh="true"
      property="og:description"
      content="日本でも海外でも原子力発電所をなくさなければ、ずっと海は汚染され、事故の危険も消えません。いつ次の事故が起きるかわからない、使い終わった放射性廃棄物をどう処理すればよいのかもわからない原発は、未来を生きる子どもたちにとって負担にしかなりません。すべての原発を止め、自然エネルギー100%の社会へ。問題を知り、変えるための行動が、100年先も残したい地球へとつながります。"
    />
    <meta
      data-rh="true"
      property="og:image"
      content="/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-issue-page/static/c40e474531d84ca716df57f27e673115/nuclear_PC_MV.jpg"
    />
    <meta
      data-rh="true"
      name="keywords"
      content="チェルノブイリ,原発事故,汚染水,放射能汚染,トリチウム水"
    />
