    <title data-rh="true">ゼロから分かるプラスチック問題と海洋汚染</title>
    <meta data-rh="true" name="robots" content="index,follow" />
    <meta data-rh="true" name="googlebot" content="index,follow" />
    <meta
      data-rh="true"
      name="description"
      content="買う・使う・捨てる・また買う……。日本はプラスチックのごみの量、世界第2位。多くはごみとして捨てられ、土や海底に溜まって、ほかの生きもの、そして私たちの健康に悪影響を与えています。地球に負荷をかけ続ける使い捨てプラスチックの悪循環から抜け出し、持続できる生活スタイルへと一緒に進みませんか？"
    />
    <meta data-rh="true" name="twitter:card" content="summary_large_image" />
    <meta data-rh="true" name="twitter:site" content="@GreenpeaceJP" />
    <meta
      data-rh="true"
      property="og:title"
      content="ゼロから分かるプラスチック問題と海洋汚染"
    />
    <meta
      data-rh="true"
      property="og:description"
      content="買う・使う・捨てる・また買う……。日本はプラスチックのごみの量、世界第2位。多くはごみとして捨てられ、土や海底に溜まって、ほかの生きもの、そして私たちの健康に悪影響を与えています。地球に負荷をかけ続ける使い捨てプラスチックの悪循環から抜け出し、持続できる生活スタイルへと一緒に進みませんか？"
    />
    <meta
      data-rh="true"
      property="og:image"
      content="https://www.greenpeace.org/japan/wp-content/themes/planet4-child-theme-japan/assets/src/gpj-issue-page/static/92b91674489156eb0ffbb28019eaf464/plastic_PC_MV.jpg"
    />
    <meta
      data-rh="true"
      name="keywords"
      content="マイクロプラスチック,マイクロビーズ,ゼロウェイスト,プラスチック汚染,過剰包装"
    />
