.nav-donate {
  --nav-submenu--width: 100%;
  .nav-submenu {
    max-width: 256px;
  }
}

.navbar {
  .site-logo {
    display: inline-flex;
    align-items: center;
    img {
      display: block;
    }
  }
}
